body{
    background-image: url(../Imagens/fundo-do-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:  30px;
    
}

.cartao{
    background-color: rgba(7, 1, 26, 0.712);
    width: 370px;
    border: 2px solid rgb(133, 0, 167);
    border-radius: 10px;
    overflow: hidden;
}


.cartao .minhas-informacoes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    /*Alinha Horizontalmente por causa do flex direction column*/
    gap: 10px;
}

.cartao .minhas-informacoes img{
    border-radius: 50px;
    border: 4px solid rgba(255, 255, 255, 0.651);
}

.cartao .minhas-informacoes .nome {
    font-size: 26px;

}

.cartao .minhas-informacoes .cargo {
    font-size: 20px;
    color: rgb(173, 173, 173);
}

.cargo .conteudo {
    margin-top:  15px;    
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img {
    width:  30px;
}

.cartao .abas .aba.selecionado {
    background-color: #262626;
}

.cartao .informacoes-abas {
    background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #414141;
}
.informacoes-abas .informacao{
    min-width: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;

}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size:  20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;   
}

.informacoes-abas .descricao span{
    color: purple;

}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.redes-sociais li a {
    width: 250px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais .instagram {
    background-color: rgb(255, 0, 140);
}

.redes-sociais .twitch {
    background-color: rgb(55, 0, 100);
}
.redes-sociais .youtube{
    background-color: red;
}
.redes-sociais li a:hover {
    opacity: 0.8;
}




